* {
	margin: 0;
	padding: 0;
}

.grid {
	display: grid;
	grid-template-columns: 70% 30%;
}

.grid > div:nth-child(odd) {
	background-color: #555;
}

.grid > div {
	padding: 10px;
	background-color: #ddd;
}
